

 <!--NAV=number of available seats-->
 <div class="NAS">number of available Seats: <h3>{{seats}}</h3></div>
<center>
<div class="map">
    <ul>
        <li><div class="map1"></div><div >available</div></li>
        <li><div class="map2"></div><div >unavailable</div></li>
        <li><div class="map3"></div><div >your seat</div></li>
    </ul>
</div>
</center>
<div class="tseats">

    <table class="allseats">
        <tr>
            <td>
                <div id="A">
   
                    <table id="tableA" border="1">
                      <center> <caption>A</caption></center> 

                    </table>
                </div>
            </td>
            <td>
                <div id="B">
   
                    <table id="tableB" border="1">
                      <center> <caption>B</caption></center> 

                    </table>
                </div>
            </td>
       </tr>
       <tr>
           <td>
                <div id="C">
   
                    <table id="tableC" border="1">
                      <center> <caption>C</caption></center> 

                    </table>
                </div>
        </td>
        <td>
                <div id="D">
   
                    <table id="tableD" border="1">
                      <center> <caption>D</caption></center> 

                    </table>
                </div>
        </td>
        </tr>
        <tr>
            <td>
                <div id="E">
   
                    <table id="tableE" border="1">
                      <center> <caption>E</caption></center> 

                    </table>
                </div>
           </td>
            <td>
                <div id="F">
   
                    <table id="tableF" border="1">
                      <center> <caption>F</caption></center> 

                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>



<div class="numsel">
    you selected <span id="seatsnum">0</span> seats
</div>






<!--book button-->
<div class="bookcancel">
    <a href="#!/form"><input type="button" value="book"></a>
    <a href="/"><input type="button" value="cancel"></a>
 </div>