<div id="numderofseats"></div>


<div class="fdiv1">

    <div class="fdiv2">
        <form class="fform" name="myform" >

               <input type="text" class="form-control" placeholder="Name" ng-model="name" name="name"><span ng-show="myform.name.$invalid" style="color:red">not valid</span><br>
               <input type="email" class="form-control" placeholder="Email" ng-model="email" name="email"><span ng-show="myform.email.$invalid" style="color:red">not valid</span><br>
               <input type="text" class="form-control" placeholder="Address" ng-model="address" name="address"><span ng-show="myform.name.$invalid" style="color:red">not valid</span><br>
               <input type="number" class="form-control" placeholder="Telephone number" ng-model="num" name="num"><span ng-show="myform.num.$invalid" style="color:red">not valid</span><br>
               
        </form>

        


    </div>
    <!--onclick="window.print()"--> 

   <a href="#!/print"> <input  type="submit" class="bprint"  id="bprint"  value="OK" /></a>



</div>









<!--<div class="row">
                <div class="col-md-4">    
                <div class="page-header">
                    <h1>contact us</h1>
                 </div>    
                </div>
                </div>
            <div class="container">
                <form  class="col-sm-10 col-md-10 col-xs-1" role="search" id="contact">
                        <div>
                                <input type="text" class="form-control" placeholder="Name"><br>
                                <input type="email" class="form-control" placeholder="Email"><br>
                                <input type="text" class="form-control" placeholder="Address"><br>
                                <input type="text" class="form-control" placeholder="Telephone number"><br>
                        </div>
                        
                </form>
            </div>
        -->



   