<div class="ticket">
    <div class="ticket1">
        <div class="ticketlogo"></div>
        <div class="ticket2">
            your ticket number:<span id="ticketnumber">101</span>

        </div>
        
    </div>
    <input  type="submit" class="bprint"  id="bprint"  value="print" onclick="window.print()" />
    

</div>
<!--<script type="text/javascript">

    var tick = document.getElementById("ticketnumber");

    r = Math.floor(1 + Math.random() * 300);
    tick.innerText = 5;

</script>-->